{{{body}}}
<div class="container mt-5">
    <form class="row g-3" action="/insertSusp" method="post" enctype="multipart/form-data">
        <div class="col-md-6">
            <label for="inputImagem" class="form-label">Imagem</label>
            <input type="file" class="form-control" id="inputImagem" name="imagem" accept="image/*">
        </div>
        <div class="col-md-6">
            <label for="inputNomeCompleto" class="form-label">Nome Completo</label>
            <input type="text" class="form-control" id="inputNomeCompleto" name="nomeCompleto">
        </div>
        <div class="col-md-6">
            <label for="inputIdade" class="form-label">Idade</label>
            <input type="number" class="form-control" id="inputIdade" name="idade">
        </div>
        <div class="col-md-6">
            <label for="inputDataNascimento" class="form-label">Data de Nascimento</label>
            <input type="date" class="form-control" id="inputDataNascimento" name="dataNascimento">
        </div>
        <div class="col-md-6">
            <label for="inputSexo" class="form-label">Sexo</label>
            <select id="inputSexo" class="form-select" name="sexo">
                <option selected>Escolha...</option>
                <option>Masculino</option>
                <option>Feminino</option>
                <option>Outro</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputGenitora" class="form-label">Genitora</label>
            <input type="text" class="form-control" id="inputGenitora" name="genitora">
        </div>
        <div class="col-md-6">
            <label for="inputGenitor" class="form-label">Genitor</label>
            <input type="text" class="form-control" id="inputGenitor" name="genitor">
        </div>
        <div class="col-md-6">
            <label for="inputFaccoes" class="form-label">Facção</label>
            <input type="text" class="form-control" id="inputFaccoes" name="faccoes">
        </div>
        <div class="col-md-6">
            <label for="inputArtigos" class="form-label">Artigos</label>
            <input type="text" class="form-control" id="inputArtigos" name="artigos">
        </div>
        <div class="col-md-4">
            <label for="inputRua" class="form-label">Rua</label>
            <input type="text" class="form-control" id="inputRua" name="rua">
        </div>
        <div class="col-md-2">
            <label for="inputNumero" class="form-label">Número</label>
            <input type="text" class="form-control" id="inputNumero" name="numero">
        </div>
        <div class="col-md-6">
            <label for="inputBairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="inputBairro" name="bairro">
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="check">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
